.deleteTask{
  background-color: transparent;
  border:1px solid transparent;
  margin:10px;
  margin-left:20px;
  color:white;
}
.task{
  margin-left:20px;
  margin-top:20px;

}
.wrapper{
  margin:20px;
}
.wrapperMain{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}