.deleteTask{
  background-color: transparent;
  border:1px solid transparent;
  margin:10px;
  margin-left:20px;
  color:white;
}
.task{
  margin-left:20px;
  margin-top:20px;

}
.wrapper{
  margin:20px;
}
.wrapperMain{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapperRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.amountButton{
  width:5vh;
  margin-left:7px;
  margin-right:7px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  padding:2px;
}
.circleWrapper{
  position: relative;
  background-color: blue;
  height:8vw;
  width:8vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleInner{
  position: absolute;
  width:6vw;
  height:6vw;
  border-radius: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}